#app {
  padding: 0 2rem 2rem;
}
#topics-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1rem 0;
}

#topics-list > li {
  list-style: none;
  width: max-content;
  padding: 0.8rem 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Accordion styles starts */
.accordion-title, .accordion-content {
  padding: 1rem;
}

.accordion-title i {
  font-size: 1.5rem;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px -2px lightgrey;
  border: solid 1px lightgray;
  margin-bottom: 0;
}

.accordion-content {
  background: lightcyan;
}

.showContent {
  display: block;
}

.hideContent {
  display: none;
}

cite {
  word-break: break-all;
}
/* Accordion styles end */